<!doctype html>
<html>
<head>
	<meta charset="utf-8">	
	<title>Patient Portal</title>
		
</head>

<body>		
  <div style="text-align:center">
	<h1>Welcome To Patient Portal</h1>		
	<a href="http://localhost:5000/list">Please click on the below link to view list of patient information.</a>
	<br><br>
	<a href="http://localhost:5000/search">Click here to search for a patient.</a>
	<br><br>
	<a href="http://localhost:5000/addPatient">Click here to add a new patient.</a>
	<br><br>
	<a href="http://localhost:5000/appointment">Make an Appointment</a>
  </div>
</body>	
	
</html>